<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid justify-content-center">
      <!-- Toggle Button for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <!-- Logo -->
        <a class="navbar-brand mx-3" href="#">
          <img src="assets/img/logo.png" alt="TechShop Logo" height="40">TechShop
        </a>
  
        <!-- Navigation Links -->
        <ul class="navbar-nav mx-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown" appDropdownHover>
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu dropdown-menu-grid" aria-labelledby="navbarDropdown">
              <div class="row">
                <div class="col-md-4">
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'mobile']"></fa-icon> Smartphones</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'laptop']"></fa-icon> Laptops</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'tablet']"></fa-icon> Tablets</a></li>
                </div>
                <div class="col-md-4">
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'clock']"></fa-icon> Wearables</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'headphones']"></fa-icon> Audio</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'camera']"></fa-icon> Cameras</a></li>
                </div>
                <div class="col-md-4">
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'gamepad']"></fa-icon> Gaming</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'home']"></fa-icon> Smart Home</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'plug']"></fa-icon> Accessories</a></li>
                </div>
                <div class="col-md-4">
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'tv']"></fa-icon> Monitors</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'network-wired']"></fa-icon> Networking</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'hdd']"></fa-icon> Storage</a></li>
                </div>
                <div class="col-md-4">
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'print']"></fa-icon> Printers & Scanners</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'microchip']"></fa-icon> Components</a></li>
                  <li><a class="dropdown-item" href="#"><fa-icon [icon]="['fas', 'compact-disc']"></fa-icon> Software</a></li>
                </div>
              </div>
            </ul>
          </li>
        </ul>
  
        <!-- Search Bar (Without Button) -->
        <form class="d-flex mx-3">
          <input class="form-control" type="search" placeholder="Search products..." aria-label="Search">
        </form>
  
        <!-- Cart and Login Icons -->
        <ul class="navbar-nav mx-3">
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cart">
                <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login">
                <fa-icon [icon]="['fas', 'user']"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>